<app-header></app-header>
<app-menu></app-menu>
<div class="page-content" id="content" style="padding-bottom: 3%">
  <!-- Toggle button -->
  <div class="container">
    <div class="row col-12 align-items-center" style="text-align: center;">
      <div class="col-sm-12">
        <h1 class="textoPrincipal" style="text-align: center;display: contents;">Pedidos</h1>
      </div>
      <div class="col-sm-3 divButton">
        <a routerLink="/nuevo-pedido" mat-raised-button class="button" color="primary">Nuevo Pedido</a>
      </div>
    </div>
    <hr>
    <div class="col-sm-3">
      <input type="text" name="filtro" id="filtro" class="form-control" placeholder="Ingrese su búsqueda por color..."  (keyup)="filtrar($event)" formControlName="filtro">
    </div>
    <div class="table-responsive">
      <div class="table table-hover align-middle" class="table" cellspacing="0" width="100%">
        <!-- Demo content -->
        <table mat-table class="mat-elevation-z8 tab" id="tabla">
          <thead class="table-info">
            <th>Cliente</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th scope="col" (click)="ordenar('color')">Color<span *ngIf="orderColorDesc"><fa-icon [icon]="icon"></fa-icon></span><span *ngIf="!orderColorDesc"><fa-icon [icon]="icon2"></fa-icon></span></th>
            <th>Fecha Entrega</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let p of pedido | paginate: { itemsPerPage: 6, currentPage: p } ; let i = index">
              <td>{{ p.cliente.apellido }}, {{ p.cliente.nombre }}</td>
              <td>{{ p.producto.nombre }}</td>
              <td>{{ p.cantidad }}</td>
              <td>{{ p.color }}</td>
              <td>{{ p.fecha_entrega }}</td>
              <td>{{ p.precio }}</td>
              <td>{{ p.estado.nombre }}</td>
              <td>
                <button type="button" class="btn btn-outline-danger m-2" (click)="eliminarPedido(i, p)">
                  Eliminar
                </button>
                <button type="button" class="btn btn-outline-dark m-2" (click)="modificarPedidoData(p)">
                  Modificar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <h3 class="align-items-center" style="text-align: center; margin-top: 1%;" *ngIf="comprobacionTabla==false">No
          existen registros en la sección {{seccion}}</h3>

        <div class="col-12 text-align-center paginacion">
          <pagination-controls (pageChange)="p = $event" previousLabel="Atras" nextLabel="Siguiente" maxSize=5
            responsive=true autoHide=true></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
